In [46]:
import pandas as pd

In [47]:
df = pd.read_csv("data/spotify_millsongdata.csv")

In [48]:
df.head()

,artist,song,link,text
0,Ace Of Base,"Always Have, Always Will",/a/ace+of+base/always+have+always+will_2000356...,"Always have, always will \r\nI was mesmerized..."
1,Ace Of Base,Cecilia,/a/ace+of+base/cecilia_20003562.html,This is a song about a well-known girl \r\nWh...
2,Ace Of Base,Don't Stop,/a/ace+of+base/dont+stop_20186001.html,Don't stop now \r\nDon't stop now \r\nDon't ...
3,Ace Of Base,Edge Of Heaven,/a/ace+of+base/edge+of+heaven_20003625.html,Fire! I can see it burning so brightly \r\nFi...
4,Ace Of Base,Fashion Party,/a/ace+of+base/fashion+party_20003603.html,Tonight we're gonna have a good time \r\nOh w...

In [49]:
df.tail()

,artist,song,link,text
39563,Quincy Punx,My America,/q/quincy+punx/my+america_20607630.html,"\r\nRush Limbaugh don't know shit about, \r..."
39564,Quincy Punx,Pig Roast,/q/quincy+punx/pig+roast_20607625.html,\r\nthere's a party at my place \r\nBring a...
39565,Quincy Punx,Punker Than You,/q/quincy+punx/punker+than+you_20607624.html,you drink coffee at the right cafes \r\nand b...
39566,Quincy Punx,Soldiers Of Foreskin,/q/quincy+punx/soldiers+of+foreskin_20607622.html,"\r\nHassidic psychos with a twist, \r\nA cr..."
39567,Quincy Punx,Stupid People,/q/quincy+punx/stupid+people_20607620.html,Can't tell your ass from a hole in the ground ...

In [50]:
df.shape

(39568, 4)

In [51]:
df.isnull().sum()

artist    369
song      369
link      369
text      369
dtype: int64

In [52]:
df.dropna(inplace= True) # modifies the current database instead of creating new one

In [53]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [54]:
df.shape

(39199, 4)

In [55]:
df = df.sample(2400).drop('link', axis = 1).reset_index(drop=True)

In [56]:
df.head()

,artist,song,text
0,Bob Dylan,House Of The Rising Sun,There is a house down in New Orleans \r\nThey...
1,George Harrison,Gone Troppo,"There he, sitting in the moonlight \r\nNot fo..."
2,Toto,Love Is A Man's World,Don't you know that the girl left a long time ...
3,Hillsong,Reaching For You,I can't believe the way Your love has got a ho...
4,Z-Ro,Hate,"[Z-Ro] \r\nHey, why they hate me like I stole..."

In [57]:
df['text'][0]

"There is a house down in New Orleans  \r\nThey call the rising sun  \r\nAnd it's been the ruin of many poor girl  \r\nAnd me, oh God, I'm one.  \r\n  \r\nMy mother was a tailor  \r\nShe sowed these new blue jeans  \r\nMy sweetheart was a gambler, Lord  \r\nDown in New Orleans.  \r\n  \r\nNow the only thing a gambler needs  \r\nIs a suitcase and a trunk  \r\nAnd the only time he's satisfied  \r\nIs when he's on a drunk.  \r\n  \r\nHe fills his glasses up to the brim  \r\nAnd he'll pass the cards around  \r\nAnd the only pleasure he gets out of life  \r\nIs rambling from town to town.  \r\n  \r\nOh tell my baby sister  \r\nNot to do what I have done  \r\nBut shun that house in New Orleans  \r\nThey call the rising sun.  \r\n  \r\nWell it's one foot on the platform  \r\nAnd the other foot on the train  \r\nI'm going back to New Orleans  \r\nTo wear that ball and chain.  \r\n  \r\nI'm going back to New Orleans  \r\nMy race is almost run  \r\nI'm going back to end my life  \r\nDown in the rising sun.  \r\n  \r\nThere is a house in New Orleans  \r\nThey call the rising sun  \r\nIt's been the ruin of many poor girl  \r\nAnd me, oh God, I'm one.\r\n\r\n"

In [58]:
df.shape

(2400, 3)

In [59]:
df.tail()

,artist,song,text
2395,Kirsty Maccoll,Walk Right Back,I want you to tell me why you walked out on me...
2396,Green Day,All The Time,"All the time, every time I need it. \r\nWhat'..."
2397,Loretta Lynn,I Know How,Yeah I love him like he wants me to and I know...
2398,Kelly Clarkson,Good Goes The Bye,They say Rome wasn't built in a day \r\nBut y...
2399,W.A.S.P.,Forever Free,I ride all alone and can't see The road to now...

In [60]:
!pip install --user -U nltk

Requirement already satisfied: nltk in c:\users\naren\appdata\roaming\python\python312\site-packages (3.9.1)
Requirement already satisfied: click in c:\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\python312\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\python312\lib\site-packages (from nltk) (2024.5.15)
Requirement already satisfied: tqdm in c:\python312\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\python312\lib\site-packages (from click->nltk) (0.4.6)

WARNING: Ignoring invalid distribution ~cikit-learn (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~cikit-learn (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Python312\Lib\site-packages)

In [61]:
# Natural Language Toolkit
import nltk
nltk.download('punkt_tab')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\naren\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [62]:
stemmer = PorterStemmer()

In [63]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a =[stemmer.stem(w) for w in token ]
    return " ".join(a)

In [64]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [65]:
df['text'].apply(lambda x:token(x))

0       there is a hous down in new orlean they call t...
1       there he , sit in the moonlight not found , li...
2       do n't you know that the girl left a long time...
3       i ca n't believ the way your love ha got a hol...
4       [ z-ro ] hey , whi they hate me like i stole s...
                              ...
2395    i want you to tell me whi you walk out on me i...
2396    all the time , everi time i need it . what 's ...
2397    yeah i love him like he want me to and i know ...
2398    they say rome wa n't built in a day but you an...
2399    i ride all alon and ca n't see the road to now...
Name: text, Length: 2400, dtype: object

In [66]:
!pip install --user scikit-learn

Requirement already satisfied: scikit-learn in c:\users\naren\appdata\roaming\python\python312\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\python312\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\python312\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\python312\lib\site-packages (from scikit-learn) (3.4.0)

WARNING: Ignoring invalid distribution ~cikit-learn (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~cikit-learn (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Python312\Lib\site-packages)

In [67]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [68]:
tfid = TfidfVectorizer(analyzer = 'word', stop_words = 'english')

In [69]:
matrix = tfid.fit_transform(df['text'])

In [70]:
matrix

<2400x16009 sparse matrix of type '<class 'numpy.float64'>'
	with 129043 stored elements in Compressed Sparse Row format>

In [71]:
similar = cosine_similarity(matrix)

In [72]:
similar[0]

array([1.        , 0.00822313, 0.00940796, ..., 0.03599405, 0.00201537,
       0.00223209])

### Recommender Function

In [73]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse = True, key= lambda x:x[1])
    song = []
    for s_id in distance[1:5]: # if I change the value here the number of recommendations changes
        song.append(df.iloc[s_id[0]].song)
    return song

In [76]:
recommender("Forever Free")

['Forever', 'Born Free', 'Always And Forever', 'Listening Wind']

In [ ]:
import pickle
import os

In [ ]:
pickle.dump(similar, open("data/similarity.pkl","wb"))

In [ ]:
pickle.dump(df,open("data/df.pkl", "wb"))